<%= form_with(model: quote_category) do |form| %>
  <% if quote_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote_category.errors.count, "error") %> prohibited this quote_category from being saved:</h2>

      <ul>
        <% quote_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
